<div class="container">
    <H1 class="display-4 mt-5 mb-0">{{property.title}}</H1>
    <hr class="bg-dark mt-2 mb-4">
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="property.photos.length === 1">
                <div *ngFor="let photos of property.photos; let first = first" class="w-100 my-auto">
                    <img *ngIf="first" [src]="photos" alt="property photo">
                </div>
            </div>
            <div *ngIf="property.photos.length >1">
                <div id="photosCarousel" class="carousel bg-dark slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let photo of property.photos ; let first = first" [ngClass]="{'active': first}" class="carousel-item">
                            <img class="d-block w-100" [src]="photo" alt="property photo">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#photosCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#photosCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="font-weight-light">{{property.category}} de {{property.surface}} m² pour {{property.rooms}} pièces.
            </p>
            <h4>{{property.price}} €</h4>
            <p class="font-weight-light">{{property.description}}</p>
        </div>
    </div>
</div>